@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	background: url(../images/ava/backgorund.png) repeat-y;
}

header .top {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background-color: #24262a;
}

header .top .logo img {
	width: 100%;
}

header .top .your-info {
	display: block;
	width: 50px;
	height: 50px;
	background-color: rgba(255,255,255,0.3);
	border-radius: 10px;
	text-align: center;
	padding: 5px; 
	box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
}

header .top .your-info a {
	color: #000;
}

header .top .your-info i:hover {
	color: white;
	cursor: pointer;
}

.avatar {
	font-size: 40px;
}

header .bottom {
	width: 100%;
	height: 80px;
	background: #232020;
}

header .bottom .menu {
	width: 100%;
	height: 100%;
	line-height: 80px;
}

header .bottom .menu li {
	display: inline-block;
	width: 19%;
	height: 100%;
	text-align: center;

}

header .bottom .menu a {
	text-decoration: none;
	display: block;
	color: #fff;
	font-size: 1.4em;
	font-style: italic;
	font-weight: 500;
	text-transform: uppercase;

}
header .bottom .menu a:hover {
	color: #fff;
	background-color: #24262a;
}

.main {
	width: 100%;
	min-height: auto;
	padding: 20px 0px;
	transition: 0.5s;
}

.main .center {
	width: 100%;
	min-height: auto;
	padding: 10px;
	background-color: rgba(255,255,255,0.1);
	box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
	float: left;
}

.main .center .title{
    height: 100px;
    width: 100%;
    background-color:#24262a;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.9em;
    font-style: italic;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    color: white;
}

.main .center .place {
    padding: 20px;
    min-height: 650px;
    width: 100%;
    margin-top: 10px;
    background-color: rgba(255,255,255,0.1);
    float: left;
}

.main .center .place .rows {
    height: 237px;
    width: 48%;
    float: left;
    margin: 10px;

}
.main .center .place .rows .left {
    display: block;
    width: 60%;
    float: left;
}

.main .center .place .rows .left img {
    width: 100%;
}     


.main .center .place .rows .right {
	width: 40%;
	height: 100%;
	float: left;
}
.main .center .place .rows .right-top {
    background-color: #24262a;
    height: 50%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1em;
    font-style: italic;
    padding: 50px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    color: white;

}

.main .center .place .rows .right-bottom {
    background-color: #fff;
    height: 50%;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 0.9em;
    font-style: italic;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    background-color: rgb(26, 24, 24);
    color: #fff;
    overflow: hidden;
}

footer {
	display: block;
	float: left;
	background:gray;
	width: 100%;
	height: 400px;
	color: #fff;
	margin-top: 20px;
}

footer .ft-left {
	width: 80%;
	height: 100%;
	padding: 20px;
	background: #101114;
	float: left;

}

footer .ft-left .ft-logo {
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
}

footer .ft-left .center {
	width: 100%;
	height: 200px;
	padding: 20px 0px;
}
footer .ft-left .center ul {
	width: 700px;
	height: 100%;
	margin:auto;
}
footer .ft-left .center ul li {
	float: left;
	height: 100%;
	width: 33%;
	text-transform: uppercase;
	list-style: none;

}

footer .ft-left .center ul li .subject {
	display: block;
	margin-bottom: 15px;
	font-size: 12px;
}

footer .ft-left .center ul li .name {
	font-weight: 900;
}

footer .ft-left .copyright {
	text-align: center;
}

footer .ft-right {
	width: 20%;
	height: 100%;
	background-color: #222222;
	float: left;
}

footer .ft-right .border {
	width: 100%;
	height: 180px;
	padding: 20px 0px;
	margin-bottom: 20px;
}

footer .ft-right .border .img-in4 {
	height: 100%;
	width: 40%;
	margin: auto;
}
footer .ft-right .border .img-in4 img {
	width: 100%;
	border-radius: 50%;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
	cursor: pointer;
}

footer .ft-right .border .infor {
	text-align: center;
}

footer .ft-right .border .infor a {
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 15px;
}

footer .ft-right .border .img-in4 img:hover {
	box-shadow: 5px 5px 20px rgba(255,255,255,0.3),
				-5px 5px 20px rgba(255,255,255,0.3),
				5px -5px 20px rgba(255,255,255,0.3),
				-5px -5px 20px rgba(255,255,255,0.3);

}

footer .ft-right .border .infor a:hover {
	display: block;
	transform: translateY(-5px);
	transition: 0.2s linear;
}