@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@900&display=swap");

* {
  scroll-behavior: smooth;
}
//=================PHẦN ĐẶT BIẾN CÁC THUỘC TÍNH=======================
:root {
  --primary-color: #e46307;
  --text-color: #333333;
  --text-color2: #222222;
  --white-color: #fff;
  --gray-color: #888;
  //spacing
  --header-height: 160px;
  --header-bot-height: 60px;
  --footer-height: 170px;
  --padding-container: 17px;
  --padding-header: 70px;
  --padding-section: 62px;
  //font size
  --font-text: 16px;
  --font-logo: 2.3rem;
  --size-sci: 1.4rem;
  --swiper-navigation-size: 20px;
  --font-title: 20px;
  --font-h1: 42px;
}
//================PHẦN ĐỊNH HÌNH KHUNG VÁ STYLE========================
body {
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-text);
}

#container {
  max-width: 2000px;
  //width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: var(--padding-container);
  overflow-x: hidden;
}

#loading-box{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #fff;
  z-index: 100;
}
/* loading square */
.loading{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	border: solid var(--primary-color);
	animation: animate 2s linear infinite;
}

.loading:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--primary-color);
	animation: animateBg 2s linear infinite;
}

@keyframes animate{
	0%{
		transform: translate(-50%,-50%) rotate(0deg);
	}
	25%{
		transform: translate(-50%,-50%) rotate(180deg);
	}
	50%{
		transform: translate(-50%,-50%) rotate(180deg);
	}
	75%{
		transform: translate(-50%,-50%) rotate(360deg);
	}
	100%{
		transform: translate(-50%,-50%) rotate(360deg);
	}
}

@keyframes animateBg{
	0%{
		height: 0;
	}
	25%{
		height: 0%;
	}
	50%{
		height: 100%;
	}
	75%{
		height: 100%;
	}
	100%{
		height: 0;
	}
}
//====================PHẦN CUSTOM THANH SCROLL BAR====================
::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(136, 136, 136, 0.219);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

//====================PHẦN CÁC THẺ DÙNG CHUNG====================
.sci {
  display: flex;
  .sci-item {
    padding: 0 10px;
    font-size: var(--size-sci);
    transition: 0.3s;
    a {
      transition: color 0.3s;
      color: var(--text-color);
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

h1 {
  font-size: var(--font-h1);
  color: var(--text-color2);
  text-align: center;
}

p {
  color: var(--text-color);
}

//====================PHAN LOGO VA MENU====================
header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .btn-menu {
    display: none;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 30px;
    color: var(--text-color);
    cursor: pointer;
  }
  .header-top {
    width: inherit;
    height: calc(100% - var(--header-bot-height));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--padding-header);
    .header-top-left {
      color: var(--primary-color);
      font-size: var(--font-logo);
      font-weight: 800;
      // .logo-icon{

      // }
      .logo-name {
        text-transform: uppercase;
        letter-spacing: 0;
      }
    }
    .header-top-right {
      display: flex;
      column-gap: 20px;
      .search {
        .search-area {
          border: none;
          outline: none;
          border-bottom: 1px solid #888;
          padding: 5px 0;
          padding-left: 5px;
          font-family: "open sans", sans-serif;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-weight: 700;
          &::placeholder {
            font-family: "open sans", sans-serif;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 12px;
            font-weight: 700;
          }
        }
        .search-icon {
          margin-left: 5px;
          cursor: pointer;
        }
      }
    }
  }
  .header-bottom {
    width: 100%;
    height: 60px;
    padding: 0 var(--padding-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-bottom-menu {
      display: flex;
      column-gap: 50px;
      .header-item {
        color: var(--text-color);
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        transition: color 0.5s;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 0;
          height: 2px;
          transform: translateY(-50%);
          background-color: var(--primary-color);
          transition: width 0.5s;
        }
        &:hover {
          color: var(--primary-color);
          &::before {
            width: 100%;
          }
        }
      }
    }
  }
  .header-menu-popup {
    position: fixed;
    top: 0;
    left: -100%;
    width: 0;
    height: 100%;
    background-color: var(--white-color);
    border-right: 1px solid var(--primary-color);
    z-index: 100;
    transition: left 0.3s;
    display: none;
    &.active {
      left: 0;
    }
    .search {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
      .search-area {
        border: none;
        outline: none;
        border-bottom: 1px solid #888;
        padding: 5px 0;
        padding-left: 5px;
        font-family: "open sans", sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        &::placeholder {
          font-family: "open sans", sans-serif;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 12px;
          font-weight: 700;
        }
        .search-icon {
          margin-left: 5px;
          cursor: pointer;
        }
      }
    }
    .header-bottom {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 20px;
      .header-bottom-menu {
        display: block;
        .header-item {
          display: inline-block;
          margin: 10px 0;
        }
      }
    }
    .btn-close-menu {
      position: absolute;
      top: 0;
      right: -40px;
      width: 40px;
      height: 40px;
      background-color: var(--primary-color);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      color: var(--white-color);
      cursor: pointer;
    }
  }
}

//====================NÚT LÊN TRÊN ĐẦU TRANG====================
.up-top {
  position: fixed;
  bottom: 50px;
  right: 30px;
  display: block;
  background-color: var(--primary-color);
  width: 40px;
  height: 40px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
  color: var(--white-color);
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.5s;
  cursor: none;
  z-index: -99;
  &.active {
    opacity: 1;
    z-index: 99;
    cursor: pointer;
  }
}

//====================PHẦN NỘI DUNG====================
main {
  min-height: 100vh;
  width: 100%;
}
//====================PHẦN CHÂN TRANG WEB====================
footer {
  width: 100%;
  height: 170px;
  background-color: var(--text-color);
  color: var(--white-color);
  .footer-container {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    .sci li a {
      color: inherit;
    }
    .footer-text {
      text-align: center;
      p {
        color: var(--white-color);
      }
    }
  }
}
//============RESPONSIVE====================

//=====TABLET-LARGE=====
@media only screen and (max-width: 1023px) {
  :root {
    //spacing
    --header-height: 75px;
    --header-bot-height: 60px;
    --footer-height: 170px;
    --padding-container: 10px;
    --padding-header: 50px;
    //font size
    --font-text: 14px;
    --font-logo: 2rem;
    --swiper-navigation-size: 20px;
    --font-title: 18px;
    --font-h1: 30px;
  }

  header {
    .btn-menu {
      display: block;
    }
    .header-top {
      display: flex;
      justify-content: center;
      align-items: center;
      .header-top-right {
        display: none;
      }
    }
    .header-bottom {
      display: none;
    }

    .header-menu-popup {
      display: block;
      width: 60%;
    }
  }
}
//=====MOBILE=====
@media only screen and (max-width: 415px) {
  :root {
    //spacing
    --header-height: 60px;
    --header-bot-height: 60px;
    --footer-height: 170px;
    --padding-container: 0;
    --padding-header: 30px;
    --padding-section: 10px;
    //font size
    --font-text: 12px;
    --font-logo: 1.2rem;
    --swiper-navigation-size: 16px;
    --font-title: 16px;
    --font-h1: 20px;
  }

  header {
    .btn-menu {
      display: block;
      font-size: 20px;
    }
    .header-top {
      display: flex;
      justify-content: center;
      align-items: center;
      .header-top-right {
        display: none;
      }
    }
    .header-bottom {
      display: none;
    }

    .header-menu-popup {
      display: block;
      width: calc(100% - 40px);
      .btn-close-menu {
        font-size: 1.3rem;
      }
    }
  }
  .up-top {
    bottom: 20px;
    right: 20px;
  }
}
